@font-face {
    font-family: 'CaviarDreams';
    font-style: normal;
    font-weight: 400;
    src: url('../fuentes/CaviarDreams_total/caviardreams-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fuentes/CaviarDreams_total/caviardreams-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fuentes/CaviarDreams_total/caviardreams-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fuentes/CaviarDreams_total/caviardreams-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fuentes/CaviarDreams_total/caviardreams-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fuentes/CaviarDreams_total/caviardreams-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
  }

/*@font-face {
    font-family: 'CaviarDreams';
    src: url('../fuentes/CaviarDreams/caviardreams-webfont.eot');
    src: url('../fuentes/CaviarDreams/caviardreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fuentes/CaviarDreams/caviardreams-webfont.woff2') format('woff2'),
         url('../fuentes/CaviarDreams/caviardreams-webfont.woff') format('woff'),
         url('../fuentes/CaviarDreams/caviardreams-webfont.ttf') format('truetype'),
         url('../fuentes/CaviarDreams/caviardreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

/* Caviar Dreams Fonts */

/*@font-face {
    font-family: CaviarDreams;
    src: url('../fuentes/CaviarDreams_Bold.ttf');
}
@font-face {
    font-family: CaviarDreams;
    src: url('../fuentes/CaviarDreams_BoldItalic.ttf');
}
@font-face {
    font-family: CaviarDreams;
    src: url('../fuentes/CaviarDreams_Italic.ttf');
}

@font-face {
    font-family: BrandonText;
    src: url('../fuentes/HVD Fonts - BrandonText-Black.otf');
}

@font-face {
    font-family: BrandonText;
    src: url('../fuentes/HVD Fonts - BrandonText-BlackItalic.otf');
}
@font-face {
    font-family: BrandonText;
    src: url('../fuentes/HVD Fonts - BrandonText-Bold.otf');
}

@font-face {
    font-family: BrandonText;
    src: url('../fuentes/HVD Fonts - BrandonText-BoldItalic.otf');
}
@font-face {
    font-family: BrandonText;
    src: url('../fuentes/HVD Fonts - BrandonText-Light.otf');
}
@font-face {
    font-family: BrandonText;
    src: url('../fuentes/HVD Fonts - BrandonText-LightItalic.otf');
}

@font-face {
    font-family: BrandonText;
    src: url('../fuentes/HVD Fonts - BrandonText-Medium.otf');
}
@font-face {
    font-family: BrandonText;
    src: url('../fuentes/HVD Fonts - BrandonText-MediumItalic.otf');
}
@font-face {
    font-family: BrandonText;
    src: url('../fuentes/HVD Fonts - BrandonText-Regular.otf');
}

@font-face {
    font-family: BrandonText;
    src: url('../fuentes/HVD Fonts - BrandonText-RegularItalic.otf');
}
@font-face {
    font-family: BrandonText;
    src: url('../fuentes/HVD Fonts - BrandonText-Thin.otf');
}
@font-face {
    font-family: BrandonText;
    src: url('../fuentes/HVD Fonts - BrandonText-ThinItalic.otf');
}*/