/*CaviarDreams*/
@font-face {
    font-family: 'CaviarDreams';
    font-style: normal;
    font-weight: 400;
    src: local('Caviar Dreams'), local('CaviarDreams'), url(../fonts/caviardreams/CaviarDreams_normal.woff2) format('woff2'), url(../fonts/caviardreams/CaviarDreams_normal.woff) format('woff');
}

@font-face {
    font-family: 'CaviarDreams';
    font-style: normal;
    font-weight: 700;
    src: local('Caviar Dreams Bold'), local('CaviarDreams-Bold'), url(../fonts/caviardreams/CaviarDreams_Bold.woff2) format('woff2'), url(../fonts/caviardreams/CaviarDreams_Bold.woff) format('woff');
}
@font-face {
    font-family: 'CaviarDreams';
    font-style: italic;
    font-weight: 400;
    src: local('Caviar Dreams Italic'), local('CaviarDreams-Italic'), url(../fonts/caviardreams/CaviarDreams_Italic.woff2) format('woff2'), url(../fonts/caviardreams/CaviarDreams_Italic.woff) format('woff');
}
@font-face {
    font-family: 'CaviarDreams';
    font-style: italic;
    font-weight: 700;
    src: local('Caviar Dreams Bold Italic'), local('CaviarDreams-BoldItalic'), url(../fonts/caviardreams/CaviarDreams_BoldItalic.woff2) format('woff2'), url(../fonts/caviardreams/CaviarDreams_BoldItalic.woff) format('woff');
}
/*HVD Fonts - BrandonText-Regular*/

@font-face {
    font-family: 'BrandonText';
    font-style: normal;
    font-weight: 400;
    src: local('Caviar Dreams'), local('BrandonText'), url(../fonts/brandontext/BrandonText-Regular.woff2) format('woff2'), url(../fonts/brandontext/BrandonText-Regular.woff) format('woff');
}
@font-face {
    font-family: 'BrandonText';
    font-style: normal;
    font-weight: 700;
    src: local('Brandon Text Bold'), local('BrandonText-Bold'), url(../fonts/brandontext/BrandonText-Bold.woff2) format('woff2'), url(../fonts/brandontext/BrandonText-Bold.woff) format('woff');
}
@font-face {
    font-family: 'BrandonText';
    font-style: italic;
    font-weight: 400;
    src: local('Brandon Text Italic'), local('BrandonText-Italic'), url(../fonts/brandontext/BrandonText-RegularItalic.woff2) format('woff2'), url(../fonts/brandontext/BrandonText-RegularItalic.woff) format('woff');
}
@font-face {
    font-family: 'BrandonText';
    font-style: italic;
    font-weight: 700;
    src: local('Brandon Text Bold Italic'), local('BrandonText-BoldItalic'), url(../fonts/brandontext/BrandonText-BoldItalic.woff2) format('woff2'), url(../fonts/brandontext/BrandonText-BoldItalic.woff) format('woff');
}