RewriteEngine on

RewriteCond %{HTTP_HOST} ^www\.zayma\.pe [NC]
RewriteRule ^(.*)$ http://zayma.pe/$1 [R=301,L]

RewriteCond $1 !^(index\.php|images|uploads|plugins|css|js|fonts|robots\.txt)
RewriteRule ^(.*)$ /index.php?/$1 [L]